*{
    box-sizing: border-box;
    
}

body{
    margin: 0px;
    width: 100%;
    /* background-color: aqua; */
}

.container{
    width: 80%;
    margin: auto;
     

}

.header{
    position: relative;
    height : 420px;
}

.img-container{
    position: relative;
    width: 100%;
    height : 420px;
    overflow: hidden;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
}

.header-body-section{
    position: absolute;
    top: 0;
    width: 100%;
    color: white;

}

.nav{
   
    font-weight: 550 ;
    height: 50px ;
    
}


.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logocontainer{
    display: flex;
    align-items: center;
}

.logocontainer p{

    padding: 5px;

}

.nav ul{
    list-style: none;
    display: flex;
}

.nav ul li{
    padding: 0px 3px;
    margin-right: 25px;
    font-size: 20px ;
    font-weight:0;
}

nav ul li a{
    color: inherit;
    text-decoration: none;
}

.zomato-logo{
    width: 300px;
}

.container-header-body{
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
    height : 420px;
}

.header-body-content{
    position: relative;
    top: -50p;
}

.header-body-section-discover {
    font-size: 40px;
    margin: 25px 0;
}

.search-container{
    background-color: white;
    width: 100%;
    height: 55px;
    max-width: 763px;
    border-radius: 10px;
}
.location{
    margin-top: 5px;
    padding: 5px ;
    height: 50px;
    width: 50px;
   
}
.ditectLocation{
    display: flex;
    
    align-items: center;

}
.city{
    padding-top:10px;
    font-size: 25px;
    color: rgb(105, 108, 110);
    height: 50px;
    width: 120px;
}
.caretdown{
    margin-left: 10px;
    height: 15px;
    width: 15px;
}
.bar{
    margin-left: 5px;
    height: 30px;
    width: 30px;

}

.search{
    margin-left: 5px;
    height: 30px;
    width: 30px;
}

.input{
    height: 50px;
    font-size: 20px;
    width: 100%;
    margin-right: 30px;
    border: none;
}

.pics{
    padding: 10px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pic1{
    height: 270px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid black;
    overflow: hidden;
    transition: height 0.3s,width 0.3s;
    transition-timing-function: ease-in;
}
.image1{
    border:1px solid black ;
    align-items: center;
    height: 180px;
    width: 100%;
}

.discribe{
    margin-left: 10px;
    margin-top: 0%;
    height: 20px;
    font-size: 20px;
    color: rgb(73, 71, 71);
}

.subdiscribe{
    color: rgb(108, 109, 110);
    font-size: 20px;
    margin-left: 10px;
    margin-top: 0%;

}

.heading{
    padding: 20px;
    margin: 50px;
    height: 150px;
    width: 100%;
    margin-right: 50px;
    
    overflow: hidden;
}

.heading{
    font-size: 20px;
    font-style: bold;
    font-weight: 100px;
}
.link{ 
    
    margin-left: 300px;
    align-content: end;
    color: red;
    text-decoration: none;
}


.add{
    padding: 10px;
    margin-left: 60px;
    
    margin-top: 50px;
    display: flex;
    justify-content: space-;
    align-items: center;
}

.add1{
    margin-left: 10px;
    height: 350px;
    width: 25%;
    border-radius: 20px;
    border: 1px solid black;
    overflow: hidden;
    background-image: url(add1.avif);
    background-size: cover;

    display: flex;
    align-items:last baseline;
    
}

.add2{
    margin-left: 30px;
    height: 350px;
    width: 25%;
    border-radius: 20px;
    border: 1px solid black;
    overflow: hidden;
    background-image: url(add2.jfif);
    background-size: cover;

    display: flex;
    align-items:last baseline;

}

.add3{
    margin-left: 30px;
    height: 350px;
    width: 25%;
    border-radius: 20px;
    border: 1px solid black;
    overflow: hidden;
    background-image: url(add3.avif);
    background-size: cover;

    display: flex;
    align-items:last baseline;
}

.add4{
    margin-left: 30px;
    height: 350px;
    width: 25%;
    border-radius: 20px;
    border: 1px solid black;
    overflow: hidden;
    background-image: url(add4.avif);
    background-size: cover;

    display: flex;
    align-items:last baseline;
    

}

.printf{
    font-style: bold;
    font-weight: 100px;
    margin-bottom: 0;
    padding: 10px;
    color: white;
}

.subheading{
    padding: 50px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.place{

}

  

.place1{
    height: 70px;
    width: 300px;
    border: 2px solid black;
    margin-left: 200px;
    border-radius: 25px;
}

.place2{
    height: 170px;
    width: 300px;
    border: 2px solid black;
    margin-left: 200px;
    border-radius: 25px;
}